/* Root & Geral */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200&family=Roboto:wght@400;500&display=swap');

:root {
  --bg: #fdfdfd;
  --text: #102f5e;
  --border-color: #ccc;
  --todo-done: #395169;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: #333;
}

body {
  scroll-behavior: smooth;
  background-image: url("../img/bg.jpg");
  background-position: center;
  background-size: cover;
  background-attachment:fixed;
  overflow: overlay;
  
}

/* ========== Buttons ========== */

button {
  background-color: var(--bg);
  color: var(--text);
  border: 2px solid var(--text);
  padding: .3rem .4rem ;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: 400ms;
}

button:hover {
  background-color: var(--text);
  color: var(--bg);
}

button i {
  pointer-events: none;
  color: var(--text);
  font-weight: bold;
}

button:hover > i {
  color: white;
}

input, select {
  padding: .25rem .5rem;
}

input {
  border-radius: 4px;
  border: 1px solid #333;
}
/* ========== Hide ========== */

.hide {
  display: none;
}

/* ========== Todo Header ========== */

.todo-container {
  max-width: 450px;
  margin: 3rem auto ;
  background-color: var(--bg);
  padding: 1.5rem;
  border-radius: 15px;
}

.todo-container header {
  text-align: center;
  padding: 0 1rem 1rem ;
  border-bottom: 1px solid var(--border-color);
}

/* ========== Todo Form & Edit Form ========== */

#todo-form, #edit-form {
  padding: 1rem;
  border-bottom: 1px solid var(--border-color);
}

#todo-form p, #edit-form p {
  margin-bottom: .5rem;
  font-weight: bold;
}

.form-control {
  display: flex;
}

.form-control input {
  margin-right: .3rem;
}

#cancel-edit-btn {
  margin-top: 1rem;
  border-radius: 8px;
}

/* ========== Todo Form & Edit Form ========== */

#toolbar {
  padding: 1rem;
  border-bottom: 1px solid var(--border-color);
  display: flex;
}

#toolbar h4 {
  margin-bottom: .5rem;
}

#search, #search-input {
  border-right: 1px solid var(--border-color);
  padding-right: 1rem;
  margin-right: 1rem;
  width: 85%;
  display: flex;
  flex-direction: column;
}

#search form {
  display: flex;
}

#search input {
  width: 100%;
  margin-right: .3rem;
}

#filter {
  width: 35%;
  display: flex;
  flex-direction: column;
}

#filter select {
  font-weight: semi-bold;
  flex: 1;
}

/* ========== Todo Form & Edit Form ========== */

.todo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid var(--border-color);
  transition: 300ms;
}

.todo h3 {
  flex: 1;
  font-size: .9rem;
}

.todo  button{
  margin-left: .4rem;
}

.done {
  background-color: var(--todo-done);
  border-radius: 4px;
}

.done h3 {
  color: #ffffffcb;
  text-decoration: line-through;
  font-style: italic;
}